<!-- Szabó Brigitta, Szoft II/N, 2022-11-09 -->

<div class="container">
  <h1>Feladat 0303</h1>
  <h2>Gyepesítés</h2>
  <div class="gyepForm">
    <div class="mb-3">
      <label for="" class="form-label"></label>
      <input type="text" class="fom-control" [(ngModel)]="diameter">
    </div>
      <button class="btm btm-dark" (click)="calcArea()">Számít</button>
      <div class="mb-3">
        <label for="result">Ára: (Ft)</label>
        <input type="text" class="form-control"
        [(ngModel)]="price">
      </div>

  </div>

  <div class="bg-light text-center">
    Szabó Brigi, Szoft II/N, 2022-11-09
  </div>

</div>